<div class="modal fade" id="boardMeetingPop" tabindex="-1" role="dialog" aria-labelledby="boardModal" aria-hidden="true">
        <div class="modal-dialog  modal-md">
          <div class="modal-content">
            <div class="modal-header text-center" >
              <h3 class="modal-title text-danger" id="keeperModalLabel">Board Meeting</h3>
            </div>
            <div class="modal-body  text-center">
              <ul class="list-group" style="margin-bottom: 3px;">
                <li class="list-group-item" id="boardDate">
                  
                </li>
                  <!--map cluster-->
                  <li class="list-group-item">
                    <h5  class="text-center"> Manteca Visitors Center<br/> 1422 Grove Avenue, Manteca </h5>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12614.132400605442!2d-121.2359671!3d37.7775446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ddaa36c4785235!2sManteca+Convention+%26+Visitors+Bureau!5e0!3m2!1sen!2sus!4v1436643298706" style="border:0; width:100%;height:150px">
						</iframe>
                  </li>
                  <li class="list-group-item">
                  	 Each team should have a representative at this meeting. <br/><u>Coach, Manager or Parent.</u> 
                  </li>
		  <li class="list-group-item">
                  	<button type="button" class="btn btn-danger" style="width:100%"data-dismiss="modal">Close</button>                 
                  </li> 				  
              </ul>              
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal --> 