  <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModal" aria-hidden="true">
    <div class="modal-dialog  modal-md">
      <div class="modal-content">
        <div class="modal-header text-center" >
          <h3 class="modal-title text-danger" id="calendarModalLabel">MFC Calendar</h3>
        </div>
        <div class="modal-body  text-center">
          <ul class="list-group" style="margin-bottom: 3px;">
            <!--calendar cluster-->
            <li class="list-group-item">
            	<div class="alert alert-warning" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  Load Times May Vary
		</div>

            </li>
            <li class="list-group-item">
              <!--<iframe  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0; width:100%;height:650px"
                src="http://www.google.com/calendar/embed?src=fields%40mantecafc.org&ctz=America/Los_Angeles">
              </iframe>-->
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item"
						src="http://www.google.com/calendar/embed?src=fields%40mantecafc.org&ctz=America/Los_Angeles">
					</iframe>
				</div>              
            </li>
            <li class="list-group-item">
              <a href="/calendar.html">Full Calendar </a>					 
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-danger" style="width:100%" onclick="closeModal('#calendarModal');" data-dismiss="modal">Close</button>                 
            </li>
          </ul>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->  