    <div class="modal fade" id="coachingclinic" tabindex="-1" role="dialog" aria-labelledby="coachingClinicLabel" aria-hidden="true" >
        <div class="modal-dialog  modal-md">
          <div class="modal-content  text-center">
            <div class="modal-header" >
              <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Goal Keeper Training </button> -->
              <h3 class="modal-title text-danger" id="keeperModalLabel">Coaching Clinic</h3>
            </div>
            <div class="modal-body">
              <ul class="list-group"  style="margin-bottom: 3px;">
                <li class="list-group-item" >
                 Monday, August 17th 5- 8pm             
                      
                </li>                
                <li class="list-group-item"  style="margin: 3px,3px,3px,3px;">
                  This is mandatory for all coaches U8-U18                    
                </li>                
                    <li class="list-group-item">
                    <h5 class="text-center"> Woodwark Park<br/> 710 East Woodward Avenue, Manteca </h5>
                        <div >
                          <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d25228.713630244132!2d-121.217557!3d37.776229400000005!3m2!1i1024!2i768!4f13.1!2m1!1swoodward+park+manteca!5e0!3m2!1sen!2sus!4v1427212368153"  
                            style="border:0; width:100%;height:150px">
                          </iframe>
                        </div>
                  </li>
  
  
		  <li class="list-group-item">
	                  <button type="button" class="btn btn-danger" style="width:100%"data-dismiss="modal">Close</button>                 
                  </li>                   
              </ul>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->