  <div class="modal fade" id="keeperModal" tabindex="-1" role="dialog" aria-labelledby="keeperModalLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-md">
      <div class="modal-content  text-center">
        <div class="modal-header" >
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Goal Keeper Training </button> -->
          <h3 class="modal-title text-danger" id="keeperModalLabel">Keeper Training</h3>
        </div>
        <div class="modal-body">
          <ul class="list-group"  style="margin-bottom: 3px;">
            <li class="list-group-item" >
              Wed @ 5:30 for Under 12s  
            </li>
            <li class="list-group-item" >
              Wed @ 6:30 for Over 12s                
            </li>
            <li class="list-group-item"  style="margin: 3px,3px,3px,3px;">
              Coach Nicolas Guzman <br/><a href="tel:209-471-3956">209-471-3956</a>
            </li>
            <!--map cluster-->
            <li class="list-group-item">
              <h5 class="text-center"> Antigua Park<br/> 1600 Pagola Avenue, Manteca </h5>
              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3153.5087590545418!2d-121.22907199999999!3d37.7781152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809040f07e7935ef%3A0xdfc23dda75d72e1!2s1600+Pagola+Ave%2C+Manteca%2C+CA+95337!5e0!3m2!1sen!2sus!4v1428547178701"  
                style="border:0; width:100%;height:150px">
              </iframe>                        -->
		<div >
			<iframe class="embed-responsive-item" 
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3153.5087590545418!2d-121.22907199999999!3d37.7781152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809040f07e7935ef%3A0xdfc23dda75d72e1!2s1600+Pagola+Ave%2C+Manteca%2C+CA+95337!5e0!3m2!1sen!2sus!4v1428547178701"  style="border:0; width:100%;height:150px">
			</iframe>
		</div>               
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-danger" style="width:100%" onclick="closeModal('#keeperModal');" data-dismiss="modal">Close</button>                 
            </li>
          </ul>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>