      <div class="modal fade" id="referee" tabindex="-1" role="dialog" aria-labelledby="refereeModal" aria-hidden="true">
        <div class="modal-dialog   modal-md">
          <div class="modal-content">
            <div class="modal-header text-center" >
              <h3 class="modal-title text-danger" id="refereeModalLabel">Referee Class</h3>
            </div>
            <div class="modal-body">
              <ul class="list-group"  style="margin-bottom: 3px;">
                <li class="list-group-item text-center">
                  <span>Friday, August 2-9</span>    
                </li>
                  <!--map cluster-->
                  <li class="list-group-item">
                    <h5 class="text-center"> Family Resource and Referrel Center 509 W Weber Ave Suite 103, Stockton </h5>
                        <div >
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12584.182354593891!2d-121.2987983!3d37.9527215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x271447996a50f7c9!2sFamily+Resource+%26+Referral+Center!5e0!3m2!1sen!2sus!4v1438135226351"  style="border:0; width:100%;height:150px">
                          </iframe>
                        </div>
                  </li>
                                    
                  <li class="list-group-item"> Starts Sun, Aug 2, 7pm-8pm </li>
		  <li class="list-group-item"> Please see the <a target="_blank" href="https://cnra.gameofficials.net/public/class/classRegister.cfm?classID=13256"> Registration Site </a>for more informaiton on times		  </li>

                  <li class="list-group-item">
                  	<ul class="list-group">
                  		<li class="list-group-item"> Students must be age 14 or older and must attend all sessions</li>
				<li class="list-group-item">Cost is $20 for the class, plus $45 for the license if you pass the test</li>
				<li class="list-group-item">Sign up on the CNRA Website</li>
			</ul>
                  </li> 
		  <li class="list-group-item">
                  	<button type="button" class="btn btn-danger" style="width:100%"data-dismiss="modal">Close</button>                 
                  </li> 

              </ul>
            </div>
            <!--<div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->