<!-- accounting-->
 <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Accounting: Questions Contact <a href="mailto:finance@mantecafc.org">Kevin Crain</a></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--panel -->				
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">MFC Team Accounting</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0 " >
              <ul  class="list-group">
                <li class="list-group-item">The drop location for MFC team account deposits is at Director of Finance Kevin Crains house <a href="https://goo.gl/maps/qa64S">(Map)</a>. </li>
                <li class="list-group-item">Deposits should be put through the mail slot in the front door. </li>
                <li class="list-group-item">All deposits should be in a sealed envelope, and include a completed MFC Team Deposit Slip. </li>
                <li class="list-group-item">All checks should be made out to MFC or Manteca Futbol Club.</li>
                <li class="list-group-item">Requested checks can be picked up from the container to the right of the front door. </li>
                <li class="list-group-item">Check requests submitted by Tuesday will be ready for pickup Thursday at noon of that week</li>
              </ul>
            </div>
          </div>
        </div>
                 			    
        </div>
      </div>
<!-- End accounting -->