<!--board-->
      <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Open Board Positions</h1>
            </div>
          </div>
        </div>
      </div>
      
<!-- row-->
      <div class="row">
        <div class="col-md-12">
          <!--panel -->				
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3  class="text-danger">Open Board Positions</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0">
              	<div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>Norcal Rep</strong></div>
              
              	<ul class="list-group">
	                <li class="list-group-item">
	                	The Norcal Representative will be responsible for working with the MFC Coaches and Assistant Coaches on issues that relate to Norcal Premier.
	                </li>                	                	                
                </ul>
				
              	<div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>Event Coordinator</strong></div>
              
              	<ul class="list-group">
	                <li class="list-group-item">
	                	Shall organize operations related to MFC events. This includes hosted soccer events, hosted soccer tournaments and hosted Club fundraising events. 
	                </li>
	                <li class="list-group-item">
	                	Assign responsibilities that are required as part of the event, order any items that are required as part of the event (i.e.: pins, awards, t-shirts, etc). 
	                </li>
	                <li class="list-group-item">
	                	Secure any vendors for the event. Responsible for MFC gear orders. This includes ordering items through Club vendor for MFC gear orders. 
	                </li>
	                <li class="list-group-item">
	                	Responsible for coordinating and monitoring volunteers for Club events.
	                </li>                	                	                
                </ul>

              	<div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>Public Relations</strong></div>
              
              	<ul class="list-group">
	                <li class="list-group-item">
	                	Shall create, manage and maintain the marketing of MFC. 
						Prepare and distribute club communiqué, press releases and coordinate game result publicity with local newspapers and MFC Webmaster.
	                </li>                	                	                
                </ul>
				
            </div>
          </div>
          <!--panel -->				
        </div>

      </div>
<!-- End board-->


  