	<!-- contacts-->
      <div class="section section-breadcrumbs">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Service Providers & Meeting Rooms</h1>
                  </div>
                </div>
              </div>
            </div>
		<!--end breadcrumbs-->
		
		<!--row-->			
            <div class="row">
              <div class="col-md-12">
                <!--panel -->				
                <div class="panel panel-warning">
                  <div class="panel-heading panel-warning">
                    <h3 class="text-danger">Service Providers</h3>
                  </div>
                  <div class="panel-body" >
                    <ul class="list-group">
                      <li class="list-group-item">
					<div class="table-responsive">
						<table class="table table-striped" id="services" >
						</table>
					</div>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-footer"></div>
                </div>
                <!--panel-->
              </div>
            </div>
		<!--end row-->
		
		<!--row-->
            <div class="row">
              <div class="col-md-12">
                <!--panel -->				
                <div class="panel panel-warning">
                  <div class="panel-heading panel-warning">
                    <h3 class="text-danger">Meeting Rooms</h3>
                  </div>
                  <div class="panel-body" >
                    <ul class="list-group">
                      <li class="list-group-item">
					<div class="table-responsive">
						<table class="table table-striped" id="rooms" >
						</table>
					</div>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-footer"></div>
                </div>
                <!--panel-->
              </div>
            </div>
	<!--end row-->
      <script>
    	$( document ).ready(
    		function() {
		    	getData("../scripts/getServices.php","#services");                                       
			getData("../scripts/getRooms.php","#rooms"); 
		}
	);
    	
    	
	function getData(file, element){
		$.get( file, function( data ) {
			$( element ).append( data );			 
		});
	}    	
    </script>
<!-- End contacts-->