<!--courses-->
      <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>NSCAA Coaching Courses</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">Upcoming Courses</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0">
              	<div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>Level 5 Diploma</strong></div>              
              	<ul class="list-group  text-center center-block" >
	                <li class="list-group-item">
	                	Mar 20-21, 2015  - Turlock
	                </li>			
                </ul>
                <div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>Level 6 Diploma</strong></div>
              	<ul class="list-group  text-center center-block">
	                <li class="list-group-item">
	                	May 15-17, 2015 - Turlock, CA
	                </li>				
                </ul>
                <div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>National Diploma</strong></div>
              	<ul class="list-group  text-center center-block">
	                <li class="list-group-item">
	                	Jun 8-14, 2015 - San Francisco, CA
	                </li>					
                </ul>    
                <div class="alert alert-danger" style="margin-bottom:1px" role="alert"><strong>National Diploma Advanced</strong></div>
              	<ul class="list-group  text-center center-block">
	                <li class="list-group-item">
	                	Jun 8-14, 2015 - San Francisco, CA
	                </li>				
                </ul>                                              
            </div>
          </div>        
          <!--panel -->							
        </div>        
      </div>
<!-- End courses -->