<!-- fields-->
	<div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Field Information: Field Coordinator <a href="mailto:fields@mantecafc.org">Dinesh Singh</a></h1>
            </div>
          </div>
        </div>
      </div>
      	<!--row-->	
	<div class="row">
        <!--panel -->	
	<div class="col-md-12">
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">Scheduling Fields</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0; overflow-y:scroll" >
              <ul class="list-group">
                <li  class="list-group-item">Requests should be made according to the current Field Scheduling Rules.</li>

                <li  class="list-group-item">Requests should include the division (i.e. U16G), event (i.e. Fall League, State Cup) and the desired location</li>
               
                <li  class="list-group-item">Requested are processed in the order received</li>
                
                <li  class="list-group-item">Requested may be denied, or times and locations adjusted, based on other club scheduling requirements</li>
              
                <li  class="list-group-item">Always check the club Calendar and verify your field has been scheduled before scheduling your match</li>
             
              </ul>
            </div>
          </div>          		
        </div>
		<!--panel -->	
	</div>
	<!--row-->	
	<!--row-->		
	<div class="row">
        <!--panel -->	
	<div class="col-md-12">		
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">Training Fields</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0; overflow-y:scroll" >
              <ul class="list-group">
                <li  class="list-group-item">The following parks have been assigned to MFC for training: Antigua, Bella Vista, Dutra Estates and Roberts.
                <li  class="list-group-item">The following parks have been assigned to MASL for training: Chadwick, Doxie, Dutra, Franciscan, Graystone and SpringPort.
                <li  class="list-group-item">Use of all other parks is first come, first served. </li>
                <li  class="list-group-item">Woodward and Northgate are not to be used for training unless authorized by the MFC Board of Directors. </li>
                <li  class="list-group-item">During the winter, MFC pays for the use of lights for training at Woodward and Northgate. </li>
                <li  class="list-group-item">Additional light usage is available for $20/hour in increments of 15 minutes. Only whole fields can be lighted, so teams are encouraged to share any additional light usage.</li>
                <li  class="list-group-item"><a href="/documents/MFC2014lights.pdf">2014/2015 Winter Light Schedule</a></li>
                <li  class="list-group-item"><a href="/documents/PracticeSchedules.pdf">Current Practice Schedules</a></li>
              </ul>
            </div>
          </div>          		
        </div>
	<!--panel -->	
	</div>
	<!--row-->	
<!-- End Uniforms -->