<!-- Footer -->
<div class="footer" >
  <div class="container">
  <div class="row">
    <br/>
    <div class="col-footer col-md-12 hidden-sm hidden-xs">
      <ul class="list-inline text-center" style='margin-bottom:0px' >
        <li >
          <div class="media-left media-middle">
            <a href="http://www.usclubsoccer.org/">
            <img  class="media-object" src="/images/logos/logo_usclub.png" alt="...">
            </a>
          </div>
        <li>
          <div class="media-left media-middle">
            <a href="http://www.norcalpremier.com/">
            <img class="media-object" src="/images/logos/logo_norcal.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="http://www.ussoccer.com/">
            <img  class="media-object" src="/images/logos/logo_ussf.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle hidden-md">
            <a href="http://www.gotsport.com/home.aspx?p=rankings/">
            <img class="media-object" src="/images/logos/logo_gotsoccer.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="http://www.facebook.com/home.php?#!/profile.php?id=100000684973853&ref=ts/">
            <img  class="media-object" src="/images/logos/logo_facebook.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="http://www.usyouthsoccer.org/index.html">
            <img class="media-object" src="/images/logos/logo_usysa2.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="http://www.fifa.com/">
            <img class="media-object" src="/images/logos/logo_fifa.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="http://sjsalliance.org/">
            <img class="media-object" src="/images/logos/logo_sjsa.png" alt="...">
            </a>
          </div>
        </li>
        <li>
          <div class="media-left media-middle">
            <a href="#">
            <img class="media-object" src="/images/logos/logo_adidas2.png" alt="...">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-copyright">&copy; 2015 Manteca Futbol Club. All rights reserved.</div>
    </div>
  </div>
  </div>  
</div>
<!-- End Footer -->