<!-- fundraiser-->
<div class="section section-breadcrumbs">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>Fundraising</h1>
         </div>
      </div>
   </div>
</div>
<!--row-->
<div class="row">
   <div class="col-md-12">
      <!--panel -->				
      <div class="panel panel-warning">
         <div class="panel-heading panel-warning" style=" padding-top:2px">
            <h3 class="text-danger">MFC Hosted Event Volunteers</h3>
         </div>
         <div class="panel-body"  >
            <ul  class="list-group">
               <li  class="list-group-item">
                  Teams can volunteer at MFC hosted events and get paid! Volunteer positions are Field Marshal, Parking Attendant and Cleanup. 
               </li>
               <li  class="list-group-item">
                  Each shift is approximately 2 hours and pays $25 to the MFC team account (it&#39;s up the manager to credit it to the right player/parent).
               </li>
            </ul>
         </div>
      </div>
      <!--panel -->				
   </div>
</div>
<!--row-->
<!--row-->
<div class="row">
   <div class="col-md-12">
      <!--panel -->				
      <div class="panel panel-warning">
         <div class="panel-heading panel-warning" style=" padding-top:2px">
            <h3 class="text-danger">MFC Hosted Event Snack Bars</h3>
         </div>
         <div class="panel-body"  >
            <ul  class="list-group">
               <li  class="list-group-item">
                  Teams can volunteer to run the snack bar at MFC hosted events, and keep all the proceeds! Submit applications to events@mantecafc.org. 
               </li>
               <li  class="list-group-item">
                  <a href="/documents/MfcSnackBarRules2010.pdf">Rules</a>
               </li>
               <li  class="list-group-item">
                  Application
                  <a href="/documents/MfcSnackBarApplication.doc">Word Doc</a>
                  <a href="/documents/MfcSnackBarApplication.pdf">PDF</a>
               </li>
               <li  class="list-group-item">
                  Teams should not assume they have been awarded a snack bar just becuase they have applied. 
               </li>
               <li  class="list-group-item">
                  Snack bars are awarded to teams on a first come first served basis. 
                  However such teams must also be a good standing with the club (not under any disciplinary action or probation); and to be fair to all teams, snack bars are also awarded on a rotating basis. 
                  So once a team runs a snack bar, their future applications will go on the bottom of the list in case in other teams have also applied.
               </li>
		<li  class="list-group-item">Teams must work awarded snack bars themselves, and cannot hire outside vendors to assist or run the snack bar for them.</li>
		
		<li  class="list-group-item">Proceeds from awarded snack bars must be deposited into the team account. Checks can then be requested as usual in order to use the funds.</li>               
            </ul>
         </div>
      </div>
      <!--panel -->				
   </div>
</div>
<!--row-->	
<!--row-->
<div class="row">
   <div class="col-md-12">
      <!--panel -->				
      <div class="panel panel-warning">
         <div class="panel-heading panel-warning" style=" padding-top:2px">
            <ul class="list-inline">
               <li  ><img style="height:40px" src ="/images/logo_eteamsponsor.png"></img></li>
               <li  >
                  <h3 class="text-danger">eTeamSponsor</h3>
               </li>
            </ul>
         </div>
         <div class="panel-body"  >
            <ul  class="list-group">
               <li  class="list-group-item">
                  eTeamSponsor is a group of coaches in the San Francisco Bay Area who have created a fundraising service to help youth, high school and college programs raise money quickly, easily and efficiently.
               </li>
               <li  class="list-group-item">
                  Set-up only takes 30-40 minutes of a coach#39;s or manager#39;s time and about 10 minutes of each parent#39;s time. There is no upfront cost and no selling involved. And the company has indicated that the national average income per athlete is $200 per year. The club has reviewed and endorses this fundraiser.
               </li>
               <li  class="list-group-item">
                  For more information or to schedule a quick 10-minute online demo which highlights the services provided, contact David Low at eTeamSponsor by phone at (925) 234-4227, by email at david@eteamsponsor.com, or through the company website at eteamsponsor.com.
               </li>
            </ul>
         </div>
      </div>
      <!--panel -->				
   </div>
</div>
<!--row-->