<!-- fields-->
      <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Goal Information: Questions Contact  <a href="mailto:goals@mantecafc.org">Joe Pires</a></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--panel -->				
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">Goals</h3>
            </div>
            <div class="panel-body" style="padding-bottom:0 ">
              <ul  class="list-group">
                <li  class="list-group-item">Goals are available for training and games and are stored at Joe & Lucy Pires house <a href="https://goo.gl/maps/SozW2">(Map)</a>, in a shed on the right side of the house (as you look from the street) behind the small gate.</li>
                <li  class="list-group-item">No matter who picks up or returns the goals, or who sets them up or tears them down, the COACH and TEAM MANAGER are responsible for the goals at all times, and for ensuring the checkout and setup/teardown procedures are followed. 			</li>
                <li  class="list-group-item">Be sure to review all procedures with parents and assistant coaches before having them assist with goal checkout, setup or teardown.</li>
                <li  class="list-group-item">Checkout Procedures</li>
                <li  class="list-group-item">Setup/Teardown Procedures - Small (6x18) </li>
                <li  class="list-group-item">Setup/Teardown Procedures - Standard (8x24) </li>
                <li  class="list-group-item">Setting goals up correctly is critical to player safety. <a href="http://anchoredforsafety.org/incidents.html">READ THIS!</a> </li>
              </ul>
            </div>
          </div>
          <!--panel -->				
        </div>

      </div>
<!-- End goals -->