	<div class="row">		
	
		<div title="Home" class="col-md-12 col-lg-12 text-center visible-lg visible-md" >
        		<a href="home.html"><img src="/images/logos/headerLogo.png"></img></a>
        	</div>
	</div>	