<style>
.dropdown-menu>li>a{
  color: #cc3300;
  background-color: #fff;
}

.dropdown-menu>li>a:focus { 
	background-color: #ececd1;
}

.dropdown-menu > li > a:hover  {
    color: #cc3300;
    background-color: #ececd1;
    background-image: none;
    font-weight: bold;
}

.navbar-default .navbar-text {
  color: #cc3300;
}
.navbar-default .navbar-nav > li > a {
  color: #cc3300;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #cc3300;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #cc3300;
}

.navbar-default .navbar-nav >.open>a:focus { 
  background-color: #CC3300;
  color: #fff;
}
</style>

<!-- Navigation & Logo--  navbar-fixed-top-->
<div class="navbar navbar-default" style="margin-bottom:0px" id="topNav">
   <div class="container">
   
   
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
         
         <a class="navbar-brand"  href="/home.html" style="padding:7px">
            <img   title="Home" class='visible-sm visible-md visible-xs' src="/images/logo_mfc2.png" style="height:35px; width:35px;"alt="MFC">

	    <img  title="Home" class='hidden-sm hidden-md hidden-xs' src="/images/logos/headerLogo.png" style="height:30px;" alt="MFC">
         </a>
      </div>
      
      
      <div class="navbar-collapse collapse" id="navbar">
         <ul class="nav navbar-nav">
         <li  class="visible-sm visible-md visible-xs"><a href="/home.html"> Home </a></li>
           <li  ><a href="/clubnews.html">News</a></li>
            <li  class="hidden-sm"><a href="/tryouts.html">Tryouts </a></li>   
            <li  class="hidden-sm"><a href="/fields.html">Fields </a></li>         
            <li  class="dropdown">
               <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Teams<b class="caret"></b></a>
               <ul class="dropdown-menu text-danger">
                  <li><a href="/teamsboys.html">Boys Teams</a></li>
                  <li class="divider"></li>
                  <li><a href="/teamsgirls.html"  >Girls Teams</a></li>
                  <li class="divider"></li> 
                  <li><a href="/tryouts.html" >Tryouts</a></li>                                 
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Events<b class="caret"></b></a>
               <ul class="dropdown-menu" >              
                  <li><a href="/phantomcup.html"  >Phantom Cup</a></li>                 
                  <li class="divider"></li>
                  <li><a href="/springinvitational.html"  >Spring Invitational</a></li>  		                 	
                  <li class="divider"></li>
                  <li><a href="/fields.html" >Fields</a></li>  
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Players/Parents <b class="caret"></b></a>              
               <ul class="dropdown-menu">
                  <li><a href="/documents/Alumni.pdf" target="_blank">Alumni</a></li>
                  <li class="divider"></li>
                  <li><a href="/documents/MfcCodeOfConduct.pdf" target="_blank" >Code of Conduct</a></li>
                  <li class="divider"></li>
                  <li><a href="/documents/MfcFinancialAidProgram&App.pdf" target="_blank" >Financial Aid</a></li>
                  <li class="divider"></li>
                  <li><a href="http://www.ussoccer.com/referees/laws-of-the-game" target="_blank" >Laws of the Game</a></li>
               </ul>
            </li>    

	    <li class="dropdown">
               <a href="#" class="dropdown-toggle"  data-toggle="dropdown">About MFC <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li><a href="/board.html" >Board of Directors</a></li>
                  <li class="divider"></li>               
                  <li><a href="/staff.html" >MFC Staff</a></li>
                  <li class="divider"></li>
                  <li><a href="/clubinfo.html" >Club Info</a></li>
                  <li class="divider"></li>
                  <li><a href="/web/documents/MfcConstitution.pdf" target="_blank" >Constitution</a></li>
                  <li class="divider"></li>
                  <li><a href="/travel.html" >Traveling to Manteca</a></li>
               </ul>
            </li>
            <li class="dropdown">
		<a href="#" class="dropdown-toggle"  data-toggle="dropdown"> Admin <b class="caret"></b></a>
		<ul class="dropdown-menu" >
			<li><a href="/calendar.html"  >MFC Calendar</a></li>
			<li class="divider"></li>
			<li><a href="/staff/admin.html" > Staff Tools </a></li>
			<li class="divider"></li>
			<li><a href="/board/clubcontacts.html" > Board Tools </a></li>
			<li class="divider"></li>
			<li><a href="/staff/survey.html" > Referee Survey </a></li>			
			<li class="divider"></li>
			<li><a href="/board/results.html" > Referee Results </a></li>						
		</ul>
            </li>                           
   </div>
</div>
<!-- Navigation & Logo-->