<!-- registration-->
      <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Registration Information: Questions Contact  <a href="mailto:registrar@mantecafc.org">Sabrina Sandoval</a></h1>
            </div>
          </div>
        </div>
      </div>
	  <!--row -->	
      <div class="row">
        <div class="col-md-12">
          <!--panel -->				
          <div class="panel panel-warning">
            <div class="panel-heading panel-warning" style=" padding-top:2px">
              <h3 class="text-danger">Player Registration</h3>
            </div>
            <div class="panel-body" >
              <ul class="list-group">
                <li class="list-group-item">
                	The 2015/16 MFC player registration fee is $150 ($75 after December 2015). 
                </li>
                <li class="list-group-item">
                	New registration packages can be emailed to the club Registrar <a href="mailto:registrar@mantecafc.org">Sabrina Sandoval</a>, or be dropped off at Sabrina&#39;s home 
                	<a href="https://goo.gl/maps/6jXh2">(1730 Park Street, Lathrop)</a> in the box on the porch (in the folder for your team).
                </li>
		<li class="list-group-item">Only complete registration packages will be processed.</li>
		
		<li class="list-group-item">All emailed documents must be sized to be smaller than 1MB. Be aware that most cell phones, cameras and all-in-one printer/scanners usually lead to documents larger than 1MB.</li>
		
		<li class="list-group-item">Allow 10 business days for paperwork to be processed (longer if whole team, including new year registration).</li>
		
		<li class="list-group-item">Team managers should keep a copy of all signed MFC Code of Conduct Forms.</li>
		
		<li class="list-group-item">Uniforms for new players must be ordered separately.</li>
		
		<li class="list-group-item text-danger">
			<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
				Due to insurance and liability issues, players may not start practicing on the fields or playing in games without a completed US Club registration and medical release form with a parent&#39;s signature.
			<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		</li>
                
              </ul>
              	<div class="alert alert-warning" style="margin-bottom:1px" role="alert"><h3><strong>A complete new player registration package consists of:</strong></h3></div>
              
              	<ul class="list-group">
	                <li class="list-group-item">
	                	Completed US Club Registration Form ( Youth <a href="/documents/USClubYouthRegistrationForm.doc">.doc</a> <a href="/documents/USClubYouthRegistrationForm.pdf">.pdf</a> ) 
	                	(Adult <a href="/documents/USClubAdultRegistrationForm.doc">.doc</a> <a href="/documents/USClubAdultRegistrationForm.pdf">.pdf</a> )
	                </li>
	                <li class="list-group-item">JPG electronic photo of player</li>
	                <li class="list-group-item">Copy of player&#39;s birth certificate</li>
	                <li class="list-group-item">Signed <a href="/documents/MfcCodeOfConduct.pdf">MFC Code of Conduct</a> Form</li>
	                <li class="list-group-item">T-shirt size and color, for a free club t-shirt.</li>
	                <li class="list-group-item">A sufficent MFC team account balance to cover the registration fee.</li>	                	                	                
              </ul>
				<div class="alert alert-warning" style="margin-bottom:1px" role="alert"><h3><strong>A complete coach&#39;s registration package consists of:</strong></h3></div>
              
              	<ul class="list-group">
	                <li class="list-group-item">
	                	Confirmation number from a completed <a href="https://refserve2.com/club/gettingStarted.cfm?mid=b3ae8af4-b6a7-4068-b9f5-6af4d97928ea&cid=389">US Club Background Check</a>						
	                </li>
	                <li class="list-group-item">JPG electronic photo of coach</li>
	                <li class="list-group-item">Copy of player&#39;s birth certificate</li>
	                <li class="list-group-item">Signed <a href="/documents/MfcCodeOfConduct.pdf">MFC Code of Conduct</a> Form</li>	                	                	                
              </ul>			  
            </div>
          </div>
          <!--panel -->				
        </div>
      </div>
  
<!-- End registration -->